*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(206, 179, 231);
}

li{
    display: inline;
}

h1{
    color: red;
}

p{
    color: #3258a3;
}

strong {
    color: #370b44cc;
}

label {
    color: darkblue;
}
#cabecera {

}

.cabecera {

}